body {
    background-color: #F3F3F3;
   overflow-x: hidden;
   
    
    
}


#toprow {
    background-color: #2A41E8;
}

#toprow .col p {
    display: inline-flex;
    padding-left: 50px;
    color: white;
    padding-top: 15px;
}

.child {
    display: inline-block;
}


.collapse ul li {
    display: inline-block;
    padding-left: 25px;
    color: white;
    font-size: 15.49px;
    font-weight: 600;
}

.ncm {
    padding: 0;
    margin: 0;
}


.collapse ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.active {
    color: #FF5E14 !important;

}

.childn {
    display: inline-block;
}

.childn i {
    color: #FFD401;
    font-size: 15px;
}

#searchboxinput::placeholder {
    font-size: 24px;
    font-weight: 500;
    font-family: rubik;
    color:#232628;

}

#d10 input {
    font-size: 24px;
}

.line {
    display: inline-block;
}

.card .childn {
    display: inline-block;
}

#d1 {
    float: right;
    padding-top: 15px;
}

#d1 button {
    float: right;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

#d2 {
    background-image: url(images/Group\ 428.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#submitreviewsbtn p{
    padding: 33px;
    color: white;
    margin-bottom: 0;
    font-family: rubik;
    font-size: 17.71px;
    font-weight: 500;
}
#mynav ul li a {
    font-size: 15.49px;
    font-weight: 500;
    font-family: rubik;
}

#d4 h1{
    
    color: white;
    font-family: inter;
    padding: 10px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -3.04px;
}

#d5 h1 {
    display: inline;
    font-size: 40.77px;
    font-weight: 700;
    color: white;
    font-family: inter;
    
}

#d5 p {
    font-size: 18.64px;
    font-weight: 400;
    font-family: roboto;
    color: #ABABAB;
}

#d6 #reviewsbtn {
    border: none;
    outline: none;
    background-color: #FF5E14;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}

#d6 #reviewsbtn a {
    color: white;
    font-size: 22px;
}

#d6 #askthebuilderbtn {
    border: 3px solid #979797;
    outline: none;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

#d6 #askthebuilderbtn a {
    color: #979797;
    font-size: 22px;
}

#d7 a {
    color: #FF5E14;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

#d8 h1 {
    font-size: 46.48px;
    font-weight: 500;
    font-family: rubik;
    color: white;
}

#d9 #buildersbtn {
    border: none;
    outline: none;
    background-color: #FF5E14;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}

#d9 #buildersbtn a {
    color: white;
    font-size: 22px;
    font-weight: 400;
    font-family: rubik;
}

#d9 #propertiesbtn {
    border: 3px solid #979797;
    outline: none;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

#d9 #propertiesbtn a {
    color: #979797;
    font-size: 22px;
    font-weight: 400; 
    font-family: rubik;
}

#d10 {
    display: flex;
    background-color: white;
    min-width: 60%;
    height: 110px;
    border-radius: 5px;
}

#d10 #searchboxinput {
    border: none;
    background-color: #ECECEC;
    outline: none;
    height: 70px;
    width: 70%;
    float: left;
    margin: 20px;
    border-radius: 5px;
}

#d10 #searchbtn {
    display: inline-block;
}

#d10 #searchbtn #findbuilderbtn {
    text-align: center;
    align-items: center;
    border: none;
    background-color: #FF5E14;
    margin: 20px;
    height: 70px;
    width: 120%;
    border-radius: 5px;
    float: right;
}

#d10 #searchbtn #findbuilderbtn p {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 19.92px;
    font-family: rubik ;
    display: flex;
}

#d11 h1 {
    font-size: 52.79px;
    font-weight: 500;
    font-family: rubik;
    color: #111111;
}

.topbuildercard {
    
    display: block;
    border: none;
    border-radius: 6.63977px;

}

.topbuildercard .varbatch{
    float: left !important;
    padding-top: 18px;
    padding-left: 18px;
}

.topbuildercard h1 {
    color: black;
    font-size: 17.71px;
    font-weight: 400;
    font-family: Rubik;
    display: inline;
    float: left;
    padding-top: 18px;
    padding-left: 10px;
    
}
#d12 #viewmorebtn {
    border: none;
    outline: none;
    background-color: #FF5E14;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
#d12 #viewmorebtn a{
    color:white;
    font-family: Rubik;
    font-size:22px;
    font-weight: 500;
    text-decoration:none;
    
}
#d13{
    height:398.39px;
    background-image: url(images/Area\ Block\ 1.png);
    background-size: cover;
    border-radius: 6.64px;
}
#d14{
    height:398.39px;
    background-image: url(images/Area\ Block\ 2.png);
    background-size: cover;
    border-radius: 6.64px;
}
#propertycards h1{
    color:white;
    font-weight: 500;
    font-family: Rubik;
    font-size: 35.41px;
}
#propertycards p{
    color:white;
font-family: Rubik;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
#d15 h1{
    font-family: Rubik;
font-size: 62px;
font-weight: 400;
line-height: 73px;
letter-spacing: 0px;
text-align: center;

}

#ourvaluescards h1{
    font-family: Rubik;
font-size: 31px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;


}
#ourvaluescards p{
    font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0px;


}
#articlesandblogs a{
    color:white;
    text-decoration: none;
    font-family: Rubik;
    font-weight: 400;
    font-size: 14.39px;
}
#articlesandblogs h1{
    font-family: Rubik;
    font-weight: 500;
    font-size: 30.99px;
}
#articlesandblogs p{
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
    
    letter-spacing: 0px;
    
}
.card-body .btn{
    background-color: #2A41E8;
}
.card-footer{
    border-top:1px solid #F4F4F4;
    background-color: white;
}
#footericons i{
    color:white;
    padding:15px;
    font-size: 30px;
}